*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font{
    font-family: "Open Sans", sans-serif;
}
/*nav starts here*/
nav{
    width: 100%;
    max-width: 1600px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 15px 100px;
}
nav .nav-img img{
    width: 130px;
    height: 55px;
}
nav .nav-link ul{
    display: flex;
    gap:30px;
    justify-content: flex-start;
    align-items: center;
    width: 355px;
    height: 25px;
    font-size: 15px;
    font-weight: 400px;
    line-height: 150px;

}
nav .nav-link li{
    list-style: none;
    
}
nav .nav-link li a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.nav-button .btn{
    background-color: green;
    color: white;
    font-size: 15px;
    border: none;
    padding: 5px;
    border-radius: 5px;   
}
.nav-button .btn:hover{
    background-color: chartreuse;
    color: black;
    cursor: pointer;
    font-size: 17px;
}
/*nav ends here*/

/*banner starts here*/

#banner{
    background-image: url(./images/assets/hero-bg.png);
    width: 100%;
    height: 460px;
}
#banner .banner-info{
    width: 100%;
    max-width: 1600px;
    padding: 120px 260px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;

}
.banner-info .start-info{
    font-size: 15px;
    font-weight: 500px;
    line-height: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 4px 8px;
}
#banner .banner-info h1 {
    text-transform: capitalize;
    font-weight: 700px;
    color: white;
    padding-top: 10px;
}
#banner .banner-info h2{
    text-transform: capitalize;
    font-size: 32px;
    font-weight: 700px;
    color: lawngreen;
    
}
#banner .banner-info .info-detail{
    font-size: 14px;
    color: white;
    line-height: 30px;
    margin-bottom: 20px;
}
.info-button{
    display: flex;
    gap: 20px;
}
.info-button .info-btn-1 .btn{
    background-color: limegreen;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
}
.info-button .info-btn-1 .btn:hover{
    background-color: lawngreen;
    color: black;
    cursor: pointer;
    font-size: 16px;
}
.info-button .info-btn-2 .btn{
    border: 1px solid white;
    background: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.info-button .info-btn-2 .btn:hover{
    background-color: lawngreen;
    color: black;
    cursor: pointer;
    font-size: 16px;
    border: none;
/*banner starts here*/